@font-face {
    font-family: Gruppo;
    src: url('./Gruppo-Regular.ttf')
}

html{
    font-family: Gruppo;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}

body{
    /* overflow: hidden; */
}

#p5 {
    visibility: hidden;
    height: 0%;
    width: 0%;
    overflow: hidden;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
}

.hover:hover{
    cursor: pointer;
}

.Home{
    width: 100%;
    height: 100%;
}

#HomeBody{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#HomeLogo{
    font-size: 1.5em;
    --animate-duration: 5s;
    margin-bottom: 5px;
}

#HomeDetail{
    /* --animate-duration: 5s; */
}

.Header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#HeaderRight{
    display: flex;
}

.MenuItem{
    margin-right: 15px;
}

.Work{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loading{
    width: 25%;
}

.ProgressBar{
    height: 5px;
    width: 100%;
}

#FooterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    font-size: 1em;
}

#canvas{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

canvas{
    width: 100%;
    height: 100%;
}

#scene{
    width: 100%;
    height: 100%;
}